---
title: Call for Workshops and Tutorials
layout: page
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p id=papers class="lead">Call for Workshops and Tutorials</p>
        <h6>Overview</h6>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">
        <p>
            HPDC welcomes workshops and tutorials proposals. <br><br>
            Workshops provide forums for discussion among researchers and practitioners on focused topics and/or
            emerging research
            areas relevant to HPC and distributed computing. Workshops typically include some combination of invited
            talks, peer-reviewed
            papers, panel discussions, and work-in-progress talks. Proposers should design workshops for approximately
            <strong>20-40 participants,</strong>
            lasting <strong>either one full day or one-half day,</strong> depending on interest and space constraints.
            Proposals for workshops on new topics
            are welcome, as are proposals to continue previously successful workshops. HPDC workshops proceedings will
            be published by ACM
            in the HPDC proceedings companion book.

            <br>
            <br>

            HPDC 2024 seeks <strong>half-day</strong> tutorial proposals to educate attendees on new and emerging topics
            within the broad scope of
            high performance distributed computing.
            
            The selected workshops and tutorials will be held on the first two days of the conference (June 3rd and
            4th).
        </p>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls-back.html %}
        {% include card-wst-inner.html %}
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">

        <br>    
        <h6 id="submission">Workshops and Tutorials Submission Process</h6>
        <p> To Submit: Please email your proposal
            using the {{site.data.submission.portal}}:
            <a href="{{site.data.submission.url}}">{{site.data.submission.url}}</a>.

            The submissions must conform to the <strong>Submission Guidelines</strong>.
        </p>

        <br>
        <h6 id="wsform">Workshop Proposals Formatting Guidelines</h6>
        <p>
            Workshop proposals should be formatted as a single PDF document of 2-4 pages, describing the following:
        </p>

        <ul>
            <li>The full name and acronym of the workshop</li>
            <li>Whether the workshop is planned for one full day or one half day</li>
            <li>A description of the theme of the workshop and its key topics - proposers should highlight the focused
                nature of the theme</li>
            <li>A description of the relevance to HPDC - proposers should highlight how their proposed events can
                complement the main program of HPDC</li>
            <li>The structure of the workshop (peer-reviewed articles, invited articles, invited talks, panels, etc.)
            </li>
            <li>Proposed names for invited speakers and panelists and their impacts on the topics discussed at the
                workshop</li>
            <li>A tentative list of program committee members (optional)</li>
            <li>Details of the review process leading to acceptance to present at the workshop</li>
            <li>If the workshop will have a call for papers, a tentative version of such CFP (optional)</li>
            <li>If the workshop is going to have published papers, the type of papers to be accepted and their length
            </li>
            <li>A summary of the intended audience</li>
            <li>A plan for attracting submissions and attendees to the workshop</li>
            <li>A brief biographical information on the workshop organizers</li>
            <li>Data about previous editions of the workshop (if any) including attendance, number of papers submitted
                and accepted</li>
            <li>Accepted workshops will need to be ready to set up a website and, if a paper submission process with
                peer review is going to be used, provide the submission link.</li>
        </ul>

        <br>
        <h6 id="tutform">Tutorial Proposals Formatting Guidelines</h6>
        <p>
            Tutorial proposals should be formatted as a single PDF document of 2-4 pages, describing the following:
        </p>

        <ul>
            <li>The full name and acronym of the Tutorial</li>
            <li>Abstract, objectives and motivation, and intended audience</li>
            <li>Name and a short biography of each tutorial presenter</li>
            <li>A description of the topics that the tutorial will address, emphasizing their timeliness</li>
            <li>An outline of the tutorial content, including its tentative schedule and the presenters for different
                parts</li>
            <li>Possibility of and suitability for a virtual presentation of the tutorial</li>
            <li>A description of the past/relevant experience of the speaker(s) on the topic of the tutorial</li>

            <li>A description of previous tutorial experience of the speaker(s), and past versions of the tutorial</li>
            <li>State whether a similar tutorial has been offered in recent ICC & Globecom (last two years) and how your
                tutorial differs</li>
        </ul>
        <h6><a href="/calls.html"> Go back to Calls </a></h6>
    </div>
</div>