---
title: Call for Contributions
layout: page
mytype: GEN
slide_id: 2
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p class="lead">Call for Contributions</p>
        <h6>Overview</h6>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify">
        <div class="conference-text">
            <p>{{site.data.calls.description}}
                <br><br>
                HPDC 2024 welcomes submissions of <strong>papers, posters, tutorials and workshop proposals.</strong>
                HPDC 2024 will also host a <strong>PhD Symposium</strong> where PhD students can present their work,
                regardless the actual status of development.
                During HPDC 2024 will also take place a forum where <strong>European Research Projects</strong> can
                present their findings.
                <br><br>

                <em>Please refer to the "Calls" menu to access the information about the call you are interested
                    to.</em>
            </p>

            <!--{% include contact-us.html %}-->
        </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls.html %}
    </div>
</div>