---
title: Call for PhD Symposium Papers
layout: page
mytype: PHD
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p id=papers class="lead">Call for PhD Symposium Papers</p>
        <h6>Overview</h6>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">
        <p>
            The PhD Symposium at HPDC 2024 is intended to offer the possibility to show advanced "work in progress" to PhD students
            working on the HPDC 2024 conference relevant topics in the context of high-performance parallel and distributed computing.
        </p>
        <p>
        	HPDC 2024 programme will host sessions where authors of accepted contributions will present their work to the entire HPDC
        	conference audience, thus offering to graduate students an opportunity to discuss their research with experts in academia
        	and industry, and to make useful contacts regarding future career opportunities.
        </p>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls-back.html %}
        <!--{% include card-poster-inner.html %}-->
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">

        <br>    
        <h6 id="submission">Poster Submission Guidelines</h6>
        <p> Graduate students are invited to submit their paper of maximum 4 pages in PDF format, including references. 
            Papers should be formatted in the ACM Proceedings Style (double column format) and submitted via the submission website <a href="https://hpdc24-phd.hotcrp.com/">https://hpdc24-phd.hotcrp.com/</a>
        </p>

        <br>
        <h6 id="wsform">Posters Chairs</h6>
        <p>
            Marco Danelutto, University of Pisa, Italy<br>
			Valeria Cardellini, University of Rome "Tor Vergata", Italy
        </p>
        <br>
        <h6 id="wsform">Posters Technical Program Committee</h6>
        <p>
            To be announced
        </p>
        <br>
        <h6 id="wsform">Submission Link</h6>
        <p>
            Please submit your PhD Symposium paper <a href="https://hpdc24-phd.hotcrp.com/">https://hpdc24-phd.hotcrp.com/</a>here</a>.
        </p>

        <br>
        <h6 id="tutform">Deadlines</h6>
        <p>
			Abstract submission: February 19, 2024<br>
			Paper submission: March 1, 2024<br>
			Acceptance notification: March 25, 2024<br>
            Camera-ready version: April 18, 2024
        </p>
        <h6><a href="./calls.html"> Go back to Calls </a></h6>
    </div>
</div>