---
title: Call for Posters
layout: page
mytype: POS
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p id=papers class="lead">Call for Posters</p>
        <h6>Overview</h6>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">
        <p>
            The ACM International Symposium on High-Performance Parallel and Distributed Computing (HPDC) will include a
            poster session
            with an associated 3-page extended abstract, which will be included in the HPDC 2024 proceedings. The topics
            of interest
            follow the regular paper submission and include (but are not limited to):
        <ul>
            <li>Cloud computing</li>
            <li>Cluster computing</li>
            <li>Edge computing</li>
            <li>Continuum platforms</li>
            <li>Big data</li>
            <li>Massively multicore systems</li>
            <li>AI for systems</li>
            <li>Systems for AI</li>
            <li>Distributed computing</li>
            <li>Hybrid memory systems</li>
            <li>Disaggregated storage</li>
            <li>Quantum computing and data managemens</li>
            <li>Extreme-scale computing systems</li>
        </ul>

        Authors of accepted posters will be given the opportunity to present their work in a dedicated session during
        the main conference.
        </p>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls-back.html %}
        <!--{% include card-poster-inner.html %}-->
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">

        <br>
        <h6>Posters Chairs</h6>
        <p>
            Huaicheng Li, Virginia Tech, USA<br>
            Janki Bhimani, Florida International University, USA<br>
            Massimo Coppola, National Research Council of Italy (CNR), Italy<br>
            Sarah Neuwirth, Johannes Gutenberg University Mainz, Germany<br>
            Tiziano De Matteis, Vrije Universiteit Amsterdam, Netherlands <br>
        </p>
        <br>
        <h6>Posters Technical Program Committee</h6>
        <p>
            To be announced
        </p>
        <br>
        <h6>Deadlines</h6>
        <p>

            Submissions due: March 21, 2024<br>
            Author notifications: April 4, 2024<br>
            Camera-Ready upload of Extended Abstracts: April 18, 2024<br>
            Conference dates: June 3-7, 2024<br>
        </p>
        <br>
        <h6 id="submission">Poster Submission Guidelines</h6>
        <p> We invite authors to submit poster contributions in the form of a three-page extended abstract and a poster
            draft.
            Abstracts shall be submitted via the poster submission website and should be formatted in the ACM
            Proceedings Style (for Latex, use \documentclass[sigconf]{acmart}, for MS Word use the template provided by
            ACM <a href="https://tinyurl.com/bde976ds">here</a>).
            We recommend A1 size for the poster, portrait orientation.

            Each submission should include a title, all author names and affiliations, notes on whether any of the
            authors are students,
            and an indication of which author is corresponding/presenting the material.
            Poster abstracts will be reviewed by the poster program committee through a single-blind process and will be
            evaluated based on the following criteria:
        <ol>
            <li>Submissions must describe new and interesting ideas related to HPDC topics of interest.</li>
            <li>Submissions can present work in progress, but authors are strongly encouraged to include preliminary
                experimental results, if available.</li>
            <li>Student submissions meeting the above criteria will be given preference.</li>
        </ol>

        Please submit your poster and extended abstract <a href="https://hpdc24-posters.hotcrp.com/">here</a>. You
        can reach the submission site also clicking on the blue button below.
        <br><br>
        <center><button name="button" class="btn btn btn-info btn-lg shadowedbutton"
                onclick="parent.open('https://hpdc24-posters.hotcrp.com/')">Submit a poster</button></center>
        <br><br>
        </p>
        <h6><a href="./calls.html"> Go back to Calls </a></h6>
    </div>
</div>