---
title: Call for Nomination
layout: page
mytype: CFN
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p id=papers class="lead">Call For Nominations: HPDC 2024 Achievement Award</p>
        <h6>Overview</h6>
    </div>
</div>


<div class="row mt-2">
    <div class="col text-justify conference-text">

        <p> In 2012, HPDC established an annual achievement award, which is presented to an individual who has made
            long-lasting, influential contributions to the foundations or practice of the field of high-performance
            parallel and distributed computing (HPDC). These contributions may include one or more of the following:
        </p>

        <ul>
            <li>Conceptual advances that have influenced the design or operation of HPDC systems or applications;</li>
            <li>Innovative techniques or tools for the design or analysis of HPDC systems or applications;</li>
            <li>Design, implementation, and deployment of innovative (components of) HPDC systems or applications;</li>
            <li>Analysis of innovative (components of) HPDC systems or applications.</li>
        </ul>

        <p>In selecting the achievement award recipient, the Award Selection Committee will place particular emphasis on
            seminal contributions and a sustained record of high-impact in the field.
        </p>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls-back.html %}
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">
        <h6>Past Winners</h6>
        <ul>
            <li><b>2023:</b> <i>Manish Parashar</i>, for pioneering contributions in high performance parallel and
                distributed
                computational methods, data management, in-situ computing, and international leadership in
                cyberinfrastructure and translational computer science.
            </li>
            <li><b>2022:</b> <i>Franck Cappello</i>, for his pioneering contributions in methods, tools, and testbeds
                for resilient high performance parallel and distributed computing.</li>
            <li><b>2021:</b> <i>Rosa Badia</i>, for her innovations in parallel task-based programming models, workflow
                applications and systems, and leadership in the high performance computing research community.</li>
            <li><b>2020:</b> No award made.</li>
            <li><b>2019:</b> <i>Geoffrey Fox</i>, for his foundational contributions to parallel computing,
                high-performance software, the interface between applications and systems, contributions to education,
                and outreach to underrepresented communities.</li>
            <li><b>2018:</b> <i>Satoshi Matsuoka</i>, for his pioneering research in the design, implementation, and
                application of high performance systems and software tools for parallel and distributed systems.</li>
            <li><b>2017:</b> <i>David Abramson</i>, for his pioneering research in the design, implementation, and
                application of high performance systems and software tools for parallel and distributed systems.</li>
            <li><b>2016:</b> <i>Jack Dongarra</i>, for his long-standing and far-reaching contributions in high
                performance linear algebra and large-scale parallel and distributed computing.</li>
            <li><b>2015:</b> <i>Ewa Deelman</i>, for her significant influence, contributions, and distinguished use of
                workflow systems in high-performance computing.</li>
            <li><b>2014:</b> <i>Rich Wolski</i>, for pioneering and high-impact contributions to grid, cloud, and
                parallel computing.</li>
            <li><b>2013:</b> <i>Miron Livny</i>, for his significant contribution and high impact in the area of
                high-throughput computing.</li>
            <li><b>2012:</b> <i>Ian Foster</i>, for his initiative in the creation and development of grid computing and
                his significant contributions to high-performance distributed computing in support of the sciences.</li>
        </ul>
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">
        <br>
        <h6>Award Selection Committee</h6>
        <ul>
            <li>Rosa M Badia</li>
            <li>Patrizio Dazzi</li>
            <li>Gabriele Mencagli</li>
            <li>Manish Parashar</li>
            <li>Douglas Thain</li>
        </ul>

        <p>The award selection committee is chaired by a member of the HPDC steering committee and includes the General
            Chair(s) and the Program Committee Chair(s) of the current HPDC conference, and the previous year's award
            winner. An award committee member cannot be a nominator or be selected as the winner.
        </p>
        <br>


        <h6 id="talk">Achievement Award Talk</h6>

        <p> <!--The award will be presented at the 33nd International Symposium on High-Performance Parallel and Distributed
            Computing in Pisa, Italy, June 3 - June 7, 2024.-->
            The winner should be available to receive the award and present an achievement award talk at the conference.

        </p>
        <br>

        <h6 id="deadline">Important Dates</h6>
        <p>Nomination deadline: Monday, April 8, 2024.</p>
        <br>

        <h6 id="nominations">Nomination Guidelines</h6>
        <p> Candidates may nominate a colleague by sending a letter in PDF form to dthain@nd.edu. Each nomination
            received will be retained and considered by the committee for three consecutive years. The letter of
            nomination should be about one page and contain:
        </p>
        <ol>
            <li>The nominee's current <b>professional affiliation(s)</b>.</li>
            <li>A brief <b>citation</b> (thirty words or less) precisely stating the most salient reason(s) why the
                nominee is qualified for the award.
            </li>
            <li>A description of the <b>technical contributions</b> of the nominee and their significance and impact.
            </li>
        </ol>
    </div>
</div>