---
title: Call for Papers
layout: page
mytype: CFP
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p id=papers class="lead">Call for Papers</p>
        <h6>Overview</h6>
    </div>
</div>


<div class="row mt-2">
    <div class="col text-justify conference-text">

       <p> The ACM International Symposium on High-Performance Parallel and Distributed Computing (HPDC) is the premier annual conference for presenting the
       	latest research on the design, implementation, evaluation, and use of parallel and distributed systems for high-end computing. The 33rd HPDC will
       	take place in Pisa, Italy, June 3-7, 2024.
       </p>
       <h6>Scope and Topics</h6>
        {{ site.data.calls.scope }}

        {% if site.data.calls %}
       <p><br>
          In the context of high-performance parallel and distributed computing, the topics of interest include, but are not limited to:
       </p>
       <ul>
          {% for topic in site.data.calls.topics %}
          <li>{{topic}}</li>
          {% endfor %}
       </ul>
       {% endif %}
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls-back.html %}
        {% include card-cfp-inner.html %}
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">
        <br>
        <h6 id="categories">Paper Submission Categories</h6>
        <p> Submissions to HPDC can be made in one of the following two categories: (1) regular papers, or (2) open-source tools and data papers.
        	The primary focus of regular papers should be to describe new research ideas supported by experimental implementation and evaluation
        	of the proposed research ideas. The primary focus of open-source tools and data should be to describe the design, development, and
        	evaluation of new open-source tools or novel data sources. Submissions in the regular papers category are also strongly encouraged
        	to open-source their software or hardware artifacts.
            <br><br>

            The authors are required to indicate the category of the paper as a part of the submitted manuscript's title. The last line of the title
            should indicate the paper type by using one of the two phrases (1) Paper Type: Regular, or (2) Paper Type: Open-source tools and data paper.

            <br><br>

			Submissions in both categories will be evaluated to the same standards in terms of novelty, scientific value, demonstrated usefulness,
			and potential impact on the field.  The chosen category at the time of the submission can not be changed after the submission deadline.
        </p>
<!--    </div>-->
<!--    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">-->
        <br>
        <h6 id="guidelines">Submission Guidelines</h6>
        <p> Authors are invited to submit technical papers of at most 11 pages in PDF format, excluding references. Accepted papers will have the flexibility
        	to use an additional page in the camera-ready to incorporate feedback from the reviewers. Papers should be formatted in the ACM Proceedings Style
        	(using sigconf from <a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a>)
        	and submitted via the conference submission website. Submitted papers must be original work that has not appeared in and is not under consideration
        	for another conference or a journal.
        </p>
        <br>
        <h6 id="anonymization">Anonymizing Submissions</h6>
        <p> HPDC uses double-blind reviewing. Avoid identifying yourself or your institution explicitly or by implication (e.g., through the references or acknowledgments).
        	The first page should use the paper ID assigned during registration in place of the author names.

        	<br><br>

        	Use care in referring to your own related work. Do not omit references to your prior work, as this would make it difficult for reviewers to place your submission
        	in its proper context. Instead, reference your past work in the third person, just as you would any other piece of related work. In some cases, it is not credible
        	to refer to your related work in the third person. For example, your submission may extend a previous workshop paper, or it may relate to a submission currently
        	under review at HPDC or another venue. In these cases, you must still explain the differences between your HPDC submission and the other work, but you should cite
        	the other work anonymously and e-mail the deanonymized work to the PC chairs.

        	<br><br>

        	If your submission reports on experiences with a system at your institution, you should refer to the system anonymously but describe the properties of the system
        	that are needed to evaluate the work (e.g., size of the user base, volume of requests, etc.). We recognize that, in some cases, these properties may allow a reviewer
        	to identify your institution.  Tool/data papers should also adhere to the double-blind submission policy. If the described tool/dataset framework is already widely
        	used by the research community, consider describing the framework using a different name and not sharing the open-source code repository in the paper.
        </p>
        <br>
        <h6 id="confidentiality">Confidential Information</h6>
        <p> Papers containing information that is subject to a non-disclosure agreement (NDA) will not be considered for review.
        </p>
        <br>
        <h6 id="arxiv">arXiv Submission Policy</h6>
        <p> Please note that having an arXiv paper does not prohibit authors from submitting a paper to HPDC 2024. arXiv papers are not peer-reviewed and not considered as
        	formal publications and hence do not count as prior work. Authors are not expected to compare against arXiv papers that have not formally appeared in previous
        	conference or journal proceedings. If a submitted paper is already on arXiv, please continue to follow the double-blind submission guidelines. Authors are encouraged
        	to use preventive measures to reduce the chances of accidental breach of anonymity (e.g., use a different title in the submission and do not upload/revise the arXiv
        	version during the review period after the submission deadline).
        </p>
        <br>
        <h6 id="authlist">Author List After Acceptance</h6>
        <p> Please note that the author list cannot be changed after acceptance.
        </p>
        <br>
        <h6 id="conflict">Conflict of Interest Declaration</h6>
        <p> At the time of submission, all authors must indicate their conflict of interest with the PC members. A conflict of interest may be institutional, collaborative,
        	or personal. Please see detailed guidelines about how to accurately declare a conflict of interest on the submission website.
        </p>
        <br>        
        <h6 id="policy">ACM Policy on Authorship</h6>
        <p> Please refer to the ACM Policy on Authorship for all other guidelines.  The frequently asked questions page
        	(<a href="https://www.acm.org/publications/policies/frequently-asked-questions">https://www.acm.org/publications/policies/frequently-asked-questions</a>) provides policies on the use of generative
        	AI tools in preparing manuscripts.

        	<br><br>

        	By submitting your article to an ACM Publication, you are hereby acknowledging that you and your co-authors are subject to all ACM Publications Policies,
        	including ACM's new Publications Policy on Research Involving Human Participants and Subjects. Alleged violations of this policy or any ACM Publications
        	Policy will be investigated by ACM and may result in a full retraction of your paper, in addition to other potential penalties, as per ACM Publications Policy.

        	<br><br>

        	Please ensure that you and your co-authors obtain an ORCID ID, so you can complete the publishing process for your accepted paper.  ACM has been involved in
        	ORCID from the start and we have recently made a commitment to collect ORCID IDs from all of our published authors.  The collection process has started and
        	will roll out as a requirement throughout 2022.  We are committed to improve author discoverability, ensure proper attribution and contribute to ongoing community
        	efforts around name normalization; your ORCID ID will help in these efforts.
        </p>
        <br>
        <h6 id="contacts">Contact PC Chairs</h6>
        <p> David Lowenthal (dkl@cs.arizona.edu)<br>
			Rosa M Badia (rosa.m.badia@bsc.es)
		</p>
        <br>
        <h6 id="submissions">Submissions</h6>
        <p> Submissions are now open at <a href="https://hpdc24.hotcrp.com/">https://hpdc24.hotcrp.com/.</a> You can reach the submission site also clicking on the red button below.
        <br><br>
        <center><button name="button" class= "btn btn-danger btn-lg shadowedbutton" onclick="parent.open('https://hpdc24.hotcrp.com/')">Submit a paper to HPDC 2024</button></center>
        <br><br>
        </p>
        <br>
        <h6 id="suggestions">Suggestions for Document Preparation for Authors</h6>
        <h6><b>Formatting the Introduction Section</b></h6>
        <p> HPDC authors are encouraged to structure their introduction section of the paper in the following format (as subsections or headings).
        	<ol type="I">
				<li><b>Motivation.</b> Clearly state the objective of the paper and provide (quantitative) support to motivate the specific problem your submission is solving
				<li><b>Limitation of state-of-art approaches.</b> Briefly review the most relevant and most recent prior works. Clearly articulate the limitations of prior works
				and how your approach breaks away from those limitations. A more detailed discussion should be reserved for the related work section. But, this section should be
				sufficient to help readers recognize the novelty of your approach
				<li><b>Key insights and contributions.</b> Briefly articulate the major insights that enable your approach or make it effective. Clearly specify the novelty of
				these insights and how they advance state-of-the-art. Describe the key ideas of your approach and design. List the key contributions including flagship empirical
				results and improvement over the prior art as applicable
				<li><b>Experimental methodology and artifact availability.</b> Clearly specify the key experimental / simulation infrastructure and methodological details.
				Support the experimental methodology choices (e.g., cite that most relevant and most recent prior works have evaluated their ideas using similar methodology).
				Include a line to indicate whether the software/hardware artifact will be available upon acceptance
				<li><b>Limitations of the proposed approach.</b> Almost all scientific contributions have limitations and scope for improvement. Clearly articulate all the major
				limitations of the proposed approach and identify conclusions that are sensitive to specific assumptions made in the paper.
			</ol>
			Please note this suggested format is not a requirement for submission, and authors will not be penalized for using a different format. 
        <p>
        <br>
        <h6 id="ethical">Ethical Considerations</h6>
        <p> If your research describes a new security-related attack, please consider adding information about the responsible disclosure to the relevant entity. Overall,
        	as appropriate and relevant, the paper should follow the ethical principles and not alter the security/privacy/equality expectations of the associated human users.
		</p>
        <br>
        <h6 id="inclusivity">Inclusive Description of Research Contributions </h6>
        <p> Please consider making your research contribution description inclusive in nature. For example, consider using gender-neutral pronouns, consider using examples that
        	are ethnicity/culture-rich, consider engaging users from diverse backgrounds if your research involves a survey, etc. Best efforts should be made to make the paper
        	accessible to visually impaired or color-blind readers.
		</p>
        <h6><a href="./calls.html"> Go back to Calls </a></h6>
    </div>
</div>