---
title: Call for Workshops and Tutorials
layout: page
mytype: WST
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p id=papers class="lead">Call for Workshops and Tutorials</p>
        <h6>Overview</h6>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">
        <p>
            HPDC warmly invites proposals for workshops and tutorials.  <br><br>
            Workshops offer a platform for valuable discussions among researchers and practitioners, focusing on key
            topics and emerging research areas in the field of High-Performance Computing (HPC) and distributed
            computing.

            <br><br>

            Workshops typically feature a blend of invited talks, peer-reviewed papers, panel discussions,
            and work-in-progress presentations. Workshop organizers are encouraged to structure their sessions for an
            audience of approximately <strong>20-40 participants,</strong> with flexibility for <strong>either a full
            day or half day</strong> format depending on interest and space availability.

            <br><br>

            We welcome proposals for workshops on new, innovative topics as well as submissions to continue successful
            workshops from previous years. Note that proceedings of HPDC workshops will be published by the ACM in
            dedicated proceedings.

            <br><br>
            
            The selected workshops and tutorials will be held on the first two days of the conference (June 3rd and
            4th).
        </p>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls-back.html %}
        {% include card-wst-inner.html %}
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">

        <br>    
        <h6 id="submission">Workshops and Tutorials Submission Process</h6>
        <p> To Submit: please email your proposal to the Worshops and Tutorial chairs
            using the following addresses: {{site.data.submission.wks_email}}.
            <!-- <a href="{{site.data.submission.url}}">{{site.data.submission.url}}</a>. -->

            The submissions must conform to the <strong>Submission Guidelines</strong>.
        </p>

        <br>
        <h6 id="wsform">Workshop Proposals Formatting Guidelines</h6>
        <p>
            Please adhere to the following formatting guidelines for workshop proposals.
            Your proposal should be submitted as a single PDF document containing 2 to 4 pages and should include the
            following information:
        </p>

        <ul>
            <li>Workshop name: provide the complete workshop title along its acronym.</li>
            <li>Duration: specify whether the workshop is intended for a full day or a half day.</li>
            <li>Workshop Theme and Key Topics: describe the overarching theme of the workshop and its core topics.
                Emphasize the focused nature of the theme.</li>
            <li>Relevance to HPDC: highlight how the proposed workshop complements the main HPDC program. </li>
            <li>The structure of the workshop (peer-reviewed articles, invited articles, invited talks, panels, etc.).
            </li>
            <li>Workshop Structure: explain the workshop's structure, including elements like peer-reviewed articles,
                invited talks, panels, and more.</li>
            <li>Invited Speakers and Panelists: propose the names of potential invited speakers and panelists and
                describe how they will contribute to the workshop's discussions.</li>
            <li>Program Committee (Optional): provide a tentative list of program committee members if available.
            <li>Review Process: detail the review process for workshop paper acceptance.</li>
            <li>Call for Workshop Papers (Optional): if applicable, include a preliminary version of the Call for Workshop Papers (CFP).</li>
            <li>Paper Publication: specify the type and length of papers to be accepted if the workshop plans to publish
                papers.</li>
            <li>Intended Audience: outline plans for attracting submissions and workshop attendees.</li>
            <li>Attraction and Engagement: a plan for attracting submissions and attendees to the workshop.</li>
            <li>Organizer Bios: briefly introduce the workshop organizers with their biographical information.</li>
            <li>Previous Workshop Data (if applicable): share details of past workshop editions, including attendance,
                submitted papers, and accepted papers.</li>
            <li>Workshop Setup: accepted workshops should be prepared to establish a dedicated website. If you plan to
                use a paper submission process with peer review, provide the submission link.</li>
        </ul>

        <br>
        <h6 id="tutform">Tutorial Proposals Formatting Guidelines</h6>
        <p>
            Tutorial proposals should be formatted as a single PDF document of 2-4 pages, describing the following:
        </p>

        <ul>
            <li>The full name and acronym of the Tutorial.</li>
            <li>Abstract, objectives and motivation, and intended audience.</li>
            <li>Name and a short biography of each tutorial presenter.</li>
            <li>A description of the topics that the tutorial will address, emphasizing their timeliness.</li>
            <li>An outline of the tutorial content, including its tentative schedule and the presenters for different
                parts.</li>
            <li>Possibility of and suitability for a virtual presentation of the tutorial.</li>
            <li>A description of the past/relevant experience of the speaker(s) on the topic of the tutorial.</li>

            <li>A description of previous tutorial experience of the speaker(s), and past versions of the tutorial.</li>
            <li>State whether a similar tutorial has been offered in recent ICC & Globecom (last two years) and how your
                tutorial differs.</li>
        </ul>
        <br>
        <h6 id="deadlines">Deadlines</h6>
        <p>
            
			Early submissions: November 6, 2023<br>
			Notification of early submissions: November 13, 2023<br>
			Late submissions: December 4, 2023<br>
			Notification of late submissions: December 11, 2023<br>
        </p>
        <h6><a href="./calls.html"> Go back to Calls </a></h6>
    </div>
</div>