---
title: PhD Symposium
layout: page
slide_id: 4
---

<br>
<div class="row mt-xs-0 mt-sm-0 my-2">
    <div>
        <h4 class="conference">PhD Symposium schedule</h4>
        <p> The PhD Symposium is scheduled for <b>June 6, 2:00pm - 3:40pm</b>, in parallel with the EU Track.
            The schedule of the presentations is the following:
        </p>
        <br>
        <div class="conference-text text-muted">
            <table class="table table-bordered table-striped table-hover table-sm">
                <tr>
                    <th>Title</th>
                </tr>
                {% for p in site.data.submissions.phd %}
                <tr>
                    <td>
                        <p class="mb-2">
                            <b>(#{{p.id}}) {{p.title}}</b>
                            {% if p.authors %}
                            <br>
                            <i><b>Authors:</b></i> {{p.authors}}
                            {% endif %}
                        </p>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>