---
title: Program
layout: page
slide_id: 4
---
<br>
<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col conference-text text-muted">
        {% if site.data.program.online.record %}
        <p>
            The conference will be streamed live and recorded for each day.
            <br>
            The event can be accessed online at: <a
                href="{{site.data.program.online.url}}">{{site.data.program.online.url}}</a>
        </p>
        {% endif %}
        <p>
            {% if site.data.program.online.streams %}
        <table class="table">
            <tr>
                <th>Stream</th>
                <th>Link</th>
            </tr>
            {% for stream in site.data.program.online.streams %}
            <tr>
                <td>{{stream.title}}</td>
                <td><a target="_blank" href="{{stream.url}}">{{stream.url}}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        </p>

        <div id="days" class="alert alert-info rounded mx-3">
            <p class="h6">
                June 3rd and June 4th are reserved for Workshops and Tutorials. <br>
                Detailed schedules and information on workshops and tutorials can be found on their
                <a href="./workshops.html" target="_blank" class="alert-link">respective pages</a>.
            </p>
            <!-- <hr>
            <p class="h6">
                The Poster Session will take place on June 4th during the <b>welcome cocktail</b>.
            </p> -->
        </div>


        <div id="days" class="alert alert-success rounded text-center mx-3">
            {% for day in site.data.program.schedule %}
            <a class="h6 alert-link" href="#day{{forloop.index}}">Day {{ forloop.index }}</a>
            {% if forloop.last %} {% else %} | {% endif %}
            {% endfor %}
        </div>

        {% if site.data.program.schedule != nil %}
        {% for day in site.data.program.schedule %}
        <hr>
        <div>
            <div>
                <h4 id="day{{forloop.index}}" class="schedule-table-heading">
                    <a class="text-secondary" href="#">
                        <i class="fa-solid fa-arrow-up mr-2" aria-hidden="true"></i>
                    </a>
                    Day {{ forloop.index}} - {{ day.dateReadable }}
                    {% if day.type == "wst" %}
                    ({{ day.location }})
                    {% endif %}
                </h4>
            </div>
            <table class="table table-bordered table-hover table-sm">
                {% if day.type == "wst" %}
                <thead>
                    <tr>
                        <th class="bg-light text-center h6 align-middle"></th>
                        <th class="bg-light text-center h6 align-middle">Aula Gerace</th>
                        <th class="bg-light text-center h6 align-middle">Riunioni Est</th>
                        <th class="bg-light text-center h6 align-middle">Riunioni Ovest</th>
                        <th class="bg-light text-center h6 align-middle">Seminari Est</th>
                        <th class="bg-light text-center h6 align-middle">Seminari Ovest</th>
                        <th class="bg-light text-center h6 align-middle">Aula Polifunzionale</th>
                    </tr>
                </thead>
                <tbody>
                    {% for timeslot in day.timeslots %}
                    <tr>
                        <td class="bg-light text-center h6 align-middle">
                            <div>{{timeslot.startTime}} - {{timeslot.endTime}}</div>
                        </td>
                        {% if timeslot.type == "service" %}
                        <td colspan=5 class="bg-warning text-center">
                            <h6 class="text-center">{{timeslot.title}}</h6>
                        </td>
                        {% elsif timeslot.type == "social" %}
                        <td colspan=5 class="bg-dark text-center">
                            <h6 class="text-light">{{timeslot.title}}</h6>
                        </td>
                        {% else %}
                        <td class="text-center h6">{{ timeslot.rooms.gerace }} </td>
                        <td class="text-center h6">{{ timeslot.rooms.riunioni_est }} </td>
                        <td class="text-center h6">{{ timeslot.rooms.riunioni_ovest }} </td>
                        <td class="text-center h6">{{ timeslot.rooms.seminari_est }} </td>
                        <td class="text-center h6">{{ timeslot.rooms.seminari_ovest }} </td>
                        {% endif %}
                        {% if forloop.first %}
                        <td rowspan={{day.timeslots.size}} class="text-center h6 align-middle">
                            Web, Mails,<br>Calls, Work,<br>Study room
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                {% for timeslot in day.timeslots %}
                <thead>
                    <tr>
                        <th class=" bg-light text-center h6 align-middle">
                            <div>{{timeslot.startTime}} - {{timeslot.endTime}}</div>
                        </th>
                        {% if timeslot.type == "service" %}
                        <th class="bg-warning text-center">
                            <h6 class="text-center">{{timeslot.title}}</h6>
                        </th>
                        {% elsif timeslot.type == "keynote" %}
                        <th class="bg-success text-center">
                            <h5 class="text-light">Keynote: <i>{{timeslot.title}}</i></h5>
                            {% if timeslot.speaker %}
                            <p>Speaker: <i>{{timeslot.speaker}}</i></p>
                            {% endif %}
                        </th>
                        {% elsif timeslot.type == "social" %}
                        <th class="bg-dark text-center">
                            <h6 class="text-light">{{timeslot.title}}</h6>
                        </th>
                        {% else %}
                        <th class="bg-info text-center">
                            <h5 class="text-light text-center">{{timeslot.title}}</h5>
                            {% if timeslot.chair %}
                            <p>Session chair: <i>{{timeslot.chair}}</i></p>
                            {% endif %}
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                {% if timeslot.submissions %}
                <tbody>
                    {% for submission_id in timeslot.submissions %}
                    {% assign submission = site.data.submissions.all | where : "id", submission_id | first %}
                    <tr>
                        <td width="20%" style="border: none">
                        </td>
                        <td>
                            <p><b>(#{{submission.id}}) {{submission.title}}</b></p>
                            {% if submission.authors %}
                            <p>
                                {% for author in submission.authors %}
                                {% if forloop.first %}
                                <i><b>Speakers:</b></i> {% else %}, {% endif %}
                                <i>{{author.name}}</a>
                                    {% endfor %}
                            </p>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
                {% endfor %}
                {% endif %}
            </table>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning rounded text-center mx-3 my-5">
            TBA
        </div>
        {% endif %}
    </div>
</div>