---
title: Registration
layout: page
slide_id: 6
---

<div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
    <div class="col text-justify conference-text text-muted">
        <div>
            <h5>Registration</h5>
            {% if site.data.registration.about %}
            <p>
                {{site.data.registration.about}}
            </p>
            {% endif %}
            {% if site.data.registration.url %}
            <p>
                <a href="{{site.data.registration.url}}">
                    {{site.data.registration.url}}
                </a>
            </p>
            {% endif %}
            <br>
            <h5>Visa</h5>
            {% if site.data.registration.visa %}
            <p>
                {{site.data.registration.visa}}
            </p>
            {% endif %}
            <br>
            <h5>Contact</h5>
            <p class="text-left">
                If you have any problems or questions, please contact us via e-mail at:
                <a href="mailto:{{ site.data.registration.email }}">
                    <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                    {{ site.data.registration.email }}
                </a>
            </p>
        </div>
    </div>
</div>