---
title: Registration
layout: page
slide_id: 6
---

<div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
    <div class="col text-justify conference">
        <div>
            <h5>Registration</h5>
            {% if site.data.registration.about %}
            <p>
                {{site.data.registration.about}}
            </p>
            {% endif %}
            {% if site.data.registration.url %}

            {% endif %}

            <h5>What's included</h5>
            <ul>
                <li><strong>Full registration (ACM member/ non member):</strong> The registrants can attend the main
                    conference and all satellite events (i.e., workshops, tutorials, posters session, and the PhD
                    symposium). This registration type includes reception, all social events, social dinner, welcome
                    cocktail, breakfast, lunch, and breaks. During the registration process, the registrant can add up
                    to 4 additional tickets for his/her guests for the social events.</li>
                <li><strong>Full STUDENT registration (ACM member/ non member):</strong> The registrants can attend the
                    main conference and all satellite events (i.e., workshops, tutorials, poster session, and the PhD
                    symposium). This registration type includes reception, all social events, social dinner, welcome
                    cocktail, breakfast, lunch, and breaks. During the registration process, the registrant
                    <strong>CANNOT</strong> add any additional tickets for his/her guests for the social events.
                </li>
                <li><strong>Workshops, Tutorials and Posters, WTP (ACM member/ non member):</strong> The registrant can
                    attend ONLY workshops, tutorials, and the Posters session. This registration type includes
                    reception, breakfast, lunch, and breaks in the days of the WTP events (3 and 4 June), plus the
                    participation in the welcome cocktail on 4th June (with the Posters session). This registration type
                    <strong>DOES NOT</strong> include entrance to the social events and the social dinner. During the
                    registration process, the registrant <strong>CANNOT</strong> add any tickets for himself or his/her
                    guests for the social events.
                </li>
            </ul>
            <br>

            <h5>Registration Deadlines</h5>
            <p> Early: <b>{{site.data.registration.deadline.early}}</b>.<br>
                Late: <b>{{site.data.registration.deadline.late}}</b>.<br>
            <p><b class="text-warning">Important:</b>
                <b><i>We do not offer on-site registration.
                        All attendees must register online before the deadline.</i></b>
            </p>
            <br>
            </p>

            <h5>Full Registration Prices</h5>
            <table class="table table-bordered table-striped table-hover table-sm">
                <tr>
                    <th>Status</th>
                    <th>Early</th>
                    <th>Late</th>
                </tr>
                {% for r in site.data.registration.full %}
                <tr>
                    <td>{{r.status}}</td>
                    <td>{{r.early}} €</td>
                    <td>{{r.late}} €</td>
                </tr>
                {% endfor %}
            </table>
            <br>

            <h5>Workshops, Tutorials and Posters (WTP) Registration Prices</h5>
            <table class="table table-bordered table-striped table-hover table-sm">
                <tr>
                    <th>Status</th>
                    <th>Early</th>
                    <th>Late</th>
                </tr>
                {% for registration in site.data.registration.wtp %}
                <tr>
                    <td>{{registration.status}}</td>
                    <td>{{registration.early}} €</td>
                    <td>{{registration.late}} €</td>
                </tr>
                {% endfor %}
            </table>
            <br>

            <h5>Required type of the registration based on the accepted paper</h5>
            <table class="table table-bordered table-striped table-hover table-sm">
                <tr>
                    <th>Accepted paper type</th>
                    <th>Minimum required registration</th>
                </tr>
                {% for registration in site.data.registration.required_type %}
                <tr>
                    <td>{{registration.paper_type}}</td>
                    <td>{{registration.required}}</td>
                </tr>
                {% endfor %}
            </table>
            <br>

            <h5>Visa</h5>
            {% if site.data.registration.visa %}
            <p>
                {{site.data.registration.visa}}
            </p>
            {% endif %}
            <br>
            <h5>Contact</h5>
            <p class="text-left">
                If you have any problems or questions, please contact us via e-mail at:
                <a href="mailto:{{ site.data.registration.email }}">
                    <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                    {{ site.data.registration.email }}
                </a>
            </p>
            <br>
            <h5>Registration site</h5>
            Please click the button below to start the registration process:
            <p>
                <center>
                    <button name="button" class="btn btn-success btn-lg shadowedbutton"
                        onclick="parent.open('{{site.data.registration.url}}')">HPDC Registration Site</button>
                </center>
            </p>
        </div>
    </div>
</div>