<div class="alert alert-primary" role="alert">
    <h5>Call for hosting future editions of HPDC conference.</h5>

    The HPDC conference steering committee is soliciting bids from HPDC community members to host future editions of the
    HPDC conference.
    <br><br>
    Please contact <a class="alert-link" href="mailto:d.tiwari@northeastern.edu,jon@cs.umn.edu">Devesh Tiwari and Jon
        Weissman</a>.

    Initially, only a brief (maximum a two-page long) proposal is expected; a compelling proposal should
    succinctly articulate the track record of organizers, potential conference venues and expected costs, local
    HPDC community engagement level, and plans to engage with academic, industrial, and government partners.
    <hr>
    A successful, long proposal bid example (from 2018) can be found
    <a class="alert-link" href="https://www.hpdc.org/bid-proposal.pdf">here.</a>
</div>