<div class="card">
    <div class="card-header text-white bg-dark">
        <i class="fa fa-list-ul mr-3" aria-hidden="true"></i><strong>Page Sections</strong>
    </div>
    <div class="card-block bg-light">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light text-muted"><a href="#categories">Paper Submission Categories</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#guidelines">Submission Guidelines</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#anonymization">Anonymizing Submissions</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#confidentiality">Confidential Information</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#arxiv">arXiv Submission Policy</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#authlist">Author List After Acceptance</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#conflicts">Conflict of Interest Declaration</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#ethical">Ethical Guidelines</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#inclusivity">Inclusivity</a></li>
        </ul>
    </div>
</div>