<div class="card">
    <div class="card-header text-white bg-dark">
        <i class="fa fa-newspaper-o mr-3" aria-hidden="true"></i><strong>Calls</strong>
    </div>
    <div class="card-block bg-light">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light text-muted"><a href="./calls-wst.html"> <i class="fa fa-bullhorn" aria-hidden="true"> </i> Call for Workshops and Tutorials (early: 6th Nov. 2023, late: 4th Dec. 2023)</a></li>
            <li class="list-group-item bg-light text-muted"><a href="./calls-posters.html"><!-- /calls-poster.html">--> Call for Posters (submissions deadline: 14th March 2024)</a></li>
            <li class="list-group-item bg-light text-muted"><a href="./calls-phd.html"><!-- /calls-phd.html">--> Call for PhD Symposium Papers (TBA)</a></li>
            <li class="list-group-item bg-light text-muted"><a href="./calls-eu.html"><!-- /calls-phd.html">--> Call for European Projects Extended Abstracts (TBA)</a></li>
            <li class="list-group-item bg-light text-muted"><a href="./calls-cfp.html"><!-- /calls-cfp.html"--> Call for Papers (TBA)</a></li>
        </ul>
    </div>
</div>