<div class="card">
    <div class="card-header text-white bg-dark">
        <i class="fa fa-newspaper-o mr-3" aria-hidden="true"></i><strong>Calls</strong>
    </div>
    <div class="card-block bg-light">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light text-muted"><a href="#papers">Call for Papers</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#ws">Call for Workshops and Tutorials</a></li>
            <li class="list-group-item bg-light text-muted"><a href="#posters">Call for Posters</a></li>
        </ul>
    </div>
</div>