<div class="card">
    <div class="card-header text-white bg-dark">
        <i class="fa fa-newspaper-o mr-3" aria-hidden="true"></i><strong>Calls</strong>
    </div>
    <div class="card-block bg-light">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light text-muted"><a href="/calls-wst.html"> <i class="fa fa-bullhorn" aria-hidden="true"> </i> Call for Workshops and Tutorials (early: 6th Nov., late: 4th Dec.)</a></li>
            <li class="list-group-item bg-light text-muted"><a href=""><!-- /calls-cfp.html"--> Call for Papers (TBA)</a></li>
            <li class="list-group-item bg-light text-muted"><a href=""><!-- /calls-poster.html">--> Call for Posters (TBA)</a></li>
            <li class="list-group-item bg-light text-muted"><a href=""><!-- /calls-phd.html">--> PhD Symposium (TBA)</a></li>
        </ul>
    </div>
</div>