<header class="site-header">
    <div class="row">
        <!--navbar-->
        <div class="mynav col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">

            <nav class="nav navbar-dark bg-dark navbar-expand-lg">
                {% if site.data.conference.previous_iterations %}
                <!--<a class="navbar-brand" href="#">
                        <img src="{{ site.data.conference.logo_path }}" alt="{{ slide.description }}">
                    </a>-->

                <a class="navbar-brand ml-4 dropdown-toggle" href="#"
                    title="Previous Iterations of {{site.data.conference.short_name}}" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <!--{{site.data.conference.short_name}}-->
                    <img src="{{ site.data.conference.logosmall_path }}" alt="{{ slide.description }}">

                </a>
                <div class="dropdown-menu">
                    <span class="dropdown-item"></span>
                    {% for previous in site.data.conference.previous_iterations %}
                    <a class="dropdown-item text-secondary" href="{{previous.url}}" target="_blank" rel="noopener">
                        {{previous.name}} {{previous.year}}
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <a class="navbar-brand ml-4" href="#">{{site.data.conference.short_name}}</a>
                {% endif %}

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-with-toggle"
                    aria-controls="navbar-with-toggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-with-toggle">
                    <ul class="navbar-nav ml-3 my-2 my-lg-0 navbar-nav-scroll" style="max-height: 200px;">
                        {% for nav in site.data.conference.navbar %}
                        {% if nav.visible %}
                        {% if nav.path == site.data.conference.calls %}
                        <li class="nav-item">
                            <a class="nav-link m-1 dropdown-toggle" href=".{{ nav.path }}"
                                title="Previous Iterations of {{site.data.conference.short_name}}" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                <strong>{{ nav.label | escape }}</strong>
                            </a>
                            <div class="dropdown-menu">
                                <span class="dropdown-item"></span>
                                {% for call in site.data.calls.pages_call %}
                                <a class="dropdown-item text-secondary" href="{{call.url}}" rel="noopener">
                                    {{call.name}}
                                </a>
                                {% endfor %}
                            </div>
                        </li>
                        {% else %}
                        {% if page.url == nav.path %}
                        <li class="nav-item">
                            <a class="nav-link m-1" href=".{{ nav.path }}">
                                <strong>{{ nav.label | escape }}</strong>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link m-1" href=".{{ nav.path }}">
                                <strong>{{ nav.label | escape }}</strong>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>


                    <ul class="navbar-nav ml-auto">
                        {% if site.data.conference.social_media.facebook_link != nil %}
                        <li class="nav-item">
                            <a class="nav-link" target="_blank"
                                href="{{ site.data.conference.social_media.facebook_link }}">
                                <span class="fa-stack">
                                    <i class="fa fa-facebook-square fa-stack-1x"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if site.data.conference.social_media.twitter_link != nil %}
                        <li class="nav-item">
                            <a class="nav-link" target="_blank"
                                href="{{ site.data.conference.social_media.twitter_link }}">
                                <span class="fa-stack">
                                    <i class="fa-brands fa-square-x-twitter fa-stack-1x"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                </div>
            </nav>
        </div>
    </div>


    <div class="row">

        <!--conference info
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 offset-xl-1 offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1">-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">
            <!--<div class="jumbotron">-->

            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    {% for slide in site.data.conference.slideshow %}
                    {% if page.slide_id and page.slide_id == slide.id %}
                    {% assign active = "active" %}
                    {% else %}
                    {% assign active = "active" %}
                    {% endif %}
                    <div class="carousel-item {{active}}">
                        <img class="img-fluid" src="{{ slide.image_path }}" alt="{{ slide.description }}">
                        <div class="carousel-caption">
                            <!--<p class="align-bottom align-left text-white">
                                </span> class="px-2 py-2">
                                {{slide.description}}
                                {% if slide.photographer.name %}
                                by <a href="{{slide.photographer_link}}">{{slide.photographer_name}}</a>
                                {% endif %}
                                </span>-->

                            <br>
                            <!--{% if slide.photographer.name %}
 by <a href="{{slide.photographer_link}}">{{slide.photographer_name}}</a>
 {% endif %}-->
                            </p>
                            <h4>{{slide.description}}</h4>
                            <h6>June 3-7, 2024<br>Pisa, Italy</h6>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!--
                            <br><br>
                            <h6 class="text-center mt-0">{{ site.data.conference.date }}</h6>
                            <h2 class="text-center mt-sm-1 mb-sm-1 mt-md-4 mb-md-4">{{ site.data.conference.short_title }}</h2>
                            <p class="text-center mb-0">
                                {{ site.data.conference.location }},
                                {{ site.data.conference.country }}
                            </p>
                        </div>-->

        </div>

        <!--slide show
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-5">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    {% for slide in site.data.conference.slideshow %}
                    {% if page.slide_id and page.slide_id  == slide.id %}
                    {% assign active = "active" %}
                    {% else %}
                    {% assign active = "active" %}
                    {% endif %}
                    <div class="carousel-item {{active}}">
                        <img class="img-fluid" src="{{ slide.image_path }}" alt="{{ slide.description }}">
                        <div class="carousel-caption">
                            <p class="align-bottom text-white">
                                <span class="px-3 py-1 rounded">
                                {{slide.description}}
                                {% if slide.photographer.name %}
                                by <a href="{{slide.photographer_link}}">{{slide.photographer_name}}</a>
                                {% endif %}
                                </span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>-->
    </div>


</header>