<div class="">
    {% if site.data.conference.sponsors == nil %}
    {% include tba.html %}
    {% else %}
    {% for category in site.data.conference.sponsors %}
    {% if forloop.index != 1 %}
    <br><br>
    {% endif %}
    <p class="h6">{{ category.display }}</p>
    {% if category.list %}
    {% for sponsor in category.list %}
    {% if sponsor.shape == "rectangle" %}
    {% assign img_width = 35 %}
    {% else %}
    {% assign img_width = 20 %}
    {% endif %}
    <img class="mr-auto d-inline-block mb-2 mt-2 pr-3" src="{{ sponsor.logo }}" alt="{{ sponsor.name }}"
        width="{{ img_width }}%" height="auto">
    {% endfor %}
    {% else %}
    {% include tba.html %}
    {% endif %}
    {% endfor %}
    {% endif %}

</div>